.homeContainer {
    width: 100%;
    height: 70vh;
    background-image: url(home6.png);
    background-position: center;
    background-size: cover;
}

.bannerSection {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust the gap between select boxes */
    height: 100%; /* Center the content vertically within the container */
}

.bannerText {
    margin-top: 10%;
}

.bannerText .title {
    font-size: 48px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    color: rgb(1, 0, 61);
}
